.header {
    margin-top: 26px;

    &__burger {
        width: 50px;
        display: none;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    &__link {

        color: $description;
        @include font(500, 16px);
    }

    &__btn {
        @include font(600, 16px);
        color: #fdf5ff;
        border-radius: 8px;
        background: $btn;
        border: none;
        padding: 12px 28px;
    }



}


@media(max-width:1248px) {
    .container {
        padding: 0 15px;
    }
}

@media(max-width:840px) {
    .header__nav {
        display: none;
    }

    .header__burger {
        display: block;
    }
}

@media(max-width:480px) {
    .header__btns {
        display: none;
    }
}